<!-- <script src="../../cytoscape-min.js"></script> -->
<html>

<head>
</head>
<style>
    /* #cy {
        width: 100vw;
        height: 100vh;
        display: block;
    } */

    div.container {
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 150px;
    }

    div.top-keywords {
        max-width: 20%;
    }

    canvas#barChart {
        max-width: 60% !important;
        max-height: 50% !important;
    }
</style>

<body>
    <div class="container">
        <div class="top-keywords">
            <h4>Top 5 Occurring Keywords</h4>
            <h5>1. Whatever</h5>
            <h5>1. Whatever</h5>
            <h5>1. Whatever</h5>
            <h5>1. Whatever</h5>
            <h5>1. Whatever</h5>
        </div>
        <canvas id="barChart"></canvas>
    </div>
    <!-- <div id="cy">

    </div> -->
    <script src="../../cytoscape.js"></script>
    <!-- <script src="/components/iframe-graph/iframe-graph.js"></script> -->
    <script src="../../Chart.js"></script>
    <script src="bar-chart.js"></script>

</body>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Material</th>
            <th>Unit price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
            <td>$2.90</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
            <td>$1.25</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
            <td>$2.35</td>
        </tr>
    </tbody>
</table>

</html>
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1480_RC02/embed_loader.js"></script>
<script type="text/javascript">
    trends.embed.renderExploreWidget("TIMESERIES", {
        "comparisonItem": [{
            "keyword": "whatever",
            "geo": "",
            "time": "today 12-m"
        }],
        "category": 0,
        "property": ""
    }, {
        "exploreQuery": "q=whatever&date=today 12-m",
        "guestPath": "https://trends.google.com:443/trends/embed/"
    });
</script>